input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}
#app{
  font-family: Arial;
}
#user-name-input{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  min-width: 200px;
}
.rep-description{
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.repo-card-list{
  list-style-type:none;
}
.repo-card{
  min-width: 296px;
  display: inline;
}
.list-inlie-item{
  display: inline-block;
  margin-right: 5px;
}
.card-columns{
  margin-top: 30px;
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
